.build
.idea
./resultImage/*_2_*.bmp
./resultImage/*_3_*.bmp
./resultImage/*_4_*.bmp
./resultImage/*_5_*.bmp
./resultImage/*_6_*.bmp
./resultImage/*_7_*.bmp
./resultImage/*_8_*.bmp
./resultImage/*_9_*.bmp
./resultImage/*_10_*.bmp