.build
.idea
./resultImage/resultGPU_2*.bmp
./resultImage/resultCPU_2*.bmp
./resultImage/resultGPU_3*.bmp
./resultImage/resultCPU_3*.bmp
./resultImage/resultGPU_4*.bmp
./resultImage/resultCPU_4*.bmp
./resultImage/resultGPU_5*.bmp
./resultImage/resultCPU_5*.bmp
./resultImage/resultGPU_6*.bmp
./resultImage/resultCPU_6*.bmp
./resultImage/resultGPU_7*.bmp
./resultImage/resultCPU_7*.bmp
./resultImage/resultGPU_8*.bmp
./resultImage/resultCPU_8*.bmp
./resultImage/resultGPU_9*.bmp
./resultImage/resultCPU_9*.bmp
./resultImage/resultGPU_10*.bmp
./resultImage/resultCPU_10*.bmp