.build
.idea
resultImage/resultGPU_2_*.bmp
resultImage/resultCPU_2_*.bmp
resultImage/resultGPU_3_*.bmp
resultImage/resultCPU_3_*.bmp
resultImage/resultGPU_4_*.bmp
resultImage/resultCPU_4_*.bmp
resultImage/resultGPU_5_*.bmp
resultImage/resultCPU_5_*.bmp
resultImage/resultGPU_6_*.bmp
resultImage/resultCPU_6_*.bmp
resultImage/resultGPU_7_*.bmp
resultImage/resultCPU_7_*.bmp
resultImage/resultGPU_8_*.bmp
resultImage/resultCPU_8_*.bmp
resultImage/resultGPU_9_*.bmp
resultImage/resultCPU_9_*.bmp
resultImage/resultGPU_10_*.bmp
resultImage/resultCPU_10_*.bmp